<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:pink;">
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    Username : <input type="text" name="uname1" placeholder="Enter Username"><br><br>
    Password : <input type="password" name="pass1" placeholder="Enter Password"><br><br>
    <input type="submit">
    <button type="button"><a href="{%url 'register' %}">Register</a></button>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>